#about #container {
  padding: 5vw 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $Navy;

  .about-header {
    color: $Aqua;
  }
  .about-text {
    color: $White;
    font-weight: 500;
    font-size: $small-font * .8;
  }
  
  /* Button */
  button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: $small-font - 4px;
    padding: .75rem 2.5rem;
    border-radius: .5rem;
  }
  
  button.btn-primary {
    background-color: $Aqua;
    border-color: $Aqua;
    
    a {
      color: $White;
    }
  }
  
  button.btn-primary:hover {
    background-color: #009DA4;
    border-color: #009DA4;
  }
  
}