#about #container {
  padding: 5vw 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $Navy;
}

.about-header {
  color: $Aqua;
  font-size: 64px;
}
.about-text {
  color: $White;
  font-size: 30px;
  font-weight: 700;
}
.apply-now-btn {
  background-color: $Aqua;
  width: 216px;
  height: 70px;
  border-radius: 8px;
  padding: 18px, 41px, 18px, 41px;
  margin-top: 20px;
  font-size: 28px;
  border: none;
}
