/* Color Palette */
$Navy: #002B52;
$Blue: #1C75BC;
$Light-blue: #E1F4FD;
$Aqua: #00AFB7;
$Medium-aqua: #66C6BA;
$Light-aqua: #C1E5E1;
$White: #FFFFFF;

/* Font Sizes */
$default-font: 16px;
$scaled-font: 16px * .8;
$small-font: $scaled-font * 2;
$medium-font: $scaled-font * 3;
$large-font: $scaled-font * 4;
$superlarge-font: $scaled-font * 5;

/* Text Styling */
.section-heading {
  font-weight: 800;
  font-size: $large-font;
  text-align: center;
  padding-bottom: 30px;
}

/* Links */
a:hover {
  text-decoration: none;
}