#sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 10vh 0vw;
  background-color: $Light-aqua;

  .section-heading {
    color: $Aqua;
  }

  button.btn-outline-primary {
    color: $Light-aqua;
    border-color: $Light-aqua;
    font-family: 'Roboto', sans-serif;
    font-size: $small-font - 4px;
    font-weight: 500;
    padding: .5rem 2.5rem;
    border-radius: .5rem;

    a {
      color: $Light-aqua;
    }
  }

  button.btn-outline-primary:hover {
    background-color: rgba(193, 229, 225, .1);
  }

  #images {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 1rem auto;

    a.large{
      width: 40%;
      margin: 1rem 2rem;

      @media screen and (max-width: 1024px) {
        width: 90%;
      }
    }

    a.medium {
      width: 20%;
      margin: 1rem 2rem;
    }

    a.small {
      width: 10%;
      margin: 1rem 2rem;
    }
    
    .sponsor {
      width: 100%;
    }
  }

}