@import "sass/global.scss";

body {
  background: linear-gradient($Navy, $Blue);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import "sass/navbar.scss";
@import "sass/home.scss";
@import "sass/about.scss";
@import "sass/tracks.scss";
@import "sass/faq.scss";
@import "sass/sponsors.scss";
@import "sass/footer.scss";