@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

@import "sass/global.scss";

body {
  background: linear-gradient($Navy, $Blue);
  margin: 0;
  font-family: 'Sora', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section-heading {
  font-weight: 800;
  font-size: 48px;
  text-align: center;
}

@import "sass/navbar.scss";
@import "sass/home.scss";
@import "sass/about.scss";
@import "sass/tracks.scss";
@import "sass/faq.scss";
@import "sass/sponsors.scss";
@import "sass/footer.scss";